
/* xlxl */
@media(min-width: 1800px) {
    .fondo {
        background-color: #FFBF00;
    }
}

/* xxl */
@media (min-width: 1400px) and (max-width: 1799px) {
    .fondo {
        background-color: #FF7F50;
    }
}

/* xl */
@media (min-width: 1200px) and (max-width: 1399px) {
    .fondo {
        background-color: #DE3163;
    }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .fondo {
        background-color: #9FE2BF;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {
    .fondo {
        background-color: #40E0D0;
    }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px) {
    .fondo {
        background-color: #6495ED;
    }
}

/* xs */
@media (min-width: 480px) and (max-width: 575px) {
    .fondo {
        background-color: #CCCCFF;
    }
}

/* xxs */
@media (min-width: 320px) and (max-width: 479px) {
    .fondo {
        background-color: #000000;
    }
}

/* xsxs */
@media (min-width: 0px) and (max-width: 319px) {
    .fondo {
        background-color: #CCCCFF;
    }
}
